/* header-top */

.header__top {
  display: flex;
  padding-top: 40px;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  gap: 40px;
  display: flex;
  align-items: center;
}

.menu__link {
  font-weight: 700;
  line-height: normal;
}

.menu__btn {
  color: #fff;
  font-weight: 700;
  padding: 15px 58px;
  line-height: normal;
  border-radius: 30px;
  background-color: #000;
}
/* header-content */

.title {
  font-size: 210px;
  font-weight: 700;
  position: absolute;
  padding-top: 110px;
}

.title--pod {
  position: relative;
}

.title--air {
  z-index: 2;
  position: relative;
}

.title--s {
  top: 30px;
  position: relative;
}

.title--m {
  top: 280px;
  left: -55px;
  position: relative;
}

.title--ax {
  top: 410px;
  z-index: -1;
  left: -132px;
  position: relative;
}

.header__content-images {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-bottom: 50px;
}

.header__content-images::before {
  inset: 0;
  content: "";
  z-index: -2;
  position: absolute;
  background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
}

