/* Header section*/

.header {
  min-height: 100vh;
  position: relative;
}

/* header-top */

.header__top {
  display: flex;
  padding-top: 40px;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.menu__link {
  font-weight: 700;
  line-height: normal;
}

.menu__btn {
  color: #fff;
  font-weight: 700;
  padding: 15px 58px;
  line-height: normal;
  border-radius: 30px;
  background-color: #000;
}

/* header-content */

.title {
  font-size: 210px;
  font-weight: 700;
  position: absolute;
  padding-top: 110px;
}

.title--pod {
  z-index: -1;
  position: relative;
}

.title--s {
  display: inline-block;
  transform: translate(10px, 58px);
}

.title--m {
  display: inline-block;
  transform: translate(-57px, 282px);
}

.title--ax {
  z-index: -1;
  position: relative;
  display: inline-block;
  transform: translate(-135px, 420px);
}

.header__content-images {
  text-align: center;
  padding-bottom: 50px;
}

.header__content-images::before {
  inset: 0;
  content: "";
  z-index: -2;
  position: absolute;
  background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
}

/* Main */

/* choose-color section */
.choose-color {
  text-align: center;
  padding: 46px 0 180px;
}

.choose-color__title {
  font-size: 36px;
  font-weight: 700;
}

.choose-color__text {
  margin: 0 auto;
  max-width: 557px;
  padding: 20px 0 80px;
}

.choose-color__list {
  gap: 40px;
  display: flex;
  justify-content: center;
}

.choose-color__btn {
  padding: 50px 55px;
  border-radius: 20px;
  border: 1px solid #777;
}

/* composition section */

.composition {
  padding-bottom: 180px;
}

.composition__text {
  margin: 0 auto;
  max-width: 653px;
  text-align: center;
  padding: 20px 0 40px;
}

.composition__inner {
  gap: 15px;
  display: flex;
  margin: 0 auto;
  max-width: 625px;
  justify-content: space-between;
}

.composition__inner-text {
  display: flex;
  max-width: 230px;
  flex-direction: column;
  justify-content: space-between;
}

/* Case section */

.case {
  text-align: center;
  padding: 80px 0 100px;
  background-color: #fafafa;
}

.case__text {
  padding: 17px 0 40px;
}

.energy__title {
  padding: 160px 0 40px;
}

.energy__number {
  font-size: 210px;
  font-weight: 700;
}

.energy__text {
  max-width: 403px;
  margin: 40px auto 0;
}

/* Audio section */
.audio {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("../images/audio-bg.jpg");
}

.audio::after {
  left: 0;
  right: 0;
  width: 100%;
  content: "";
  height: 150vh;
  bottom: -210px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url("../images/sound.png");
}

.audio__inner {
  display: flex;
  min-height: 200vh;
  align-items: flex-end;
  justify-content: center;
}

.audio__box {
  text-align: center;
  padding-bottom: 34vh;
}

.audio__text {
  color: #fff;
  max-width: 296px;
}

.audio__text:nth-child(2) {
  padding: 30px 0;
}

.btn {
  z-index: 2;
  margin-top: 40px;
  font-weight: 700;
  position: relative;
  padding: 15px 58px;
  border-radius: 30px;
  background-color: #fff;
}

